/* For mobile phones: */
body {
    width: 92%;
    margin: auto;
    background: #ECEEF8;
}

/* For desktop: */
@media only screen and (min-width: 700px) {
    body {
        width: 650px;
        margin: auto;
        background: #ECEEF8;
    }
}

.card-header{
    background: #4154B3 !important;
}

.btn-page {
    /* background: white !important; */
    color: #4154B3 !important;
    width: 80px;
    font-size: 14px;
}

.progress-bar {
    background: #4154B3 !important;
}

.required {
    color: red;
}
