<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css">

    <!-- Local CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/player.css') }}" rel="stylesheet">

    {% if tutorial == 1 %}
    <link href="{{ url_for('static', filename='css/tutorial.css') }}" rel="stylesheet">
    {% endif %}

    <!-- Load external libs -->
    <script src="{{ url_for('static', filename='js/lib/howler.js') }}"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>

    <title>SBBS</title>
  </head>

  <body onload="onEvaluateLoad()" onresize="onResize()">
      <div class="p-1"></div>

      <div class="card bg-white text-dark border rounded">
          <div class="card-header border-0 bg-primary"></div>

          <div class="card-body mx-2">
            <h2 class="font-weight-normal">Music Generation with Emotion Experiment</h2>
            <sup class="required">* Required</sup>
          </div>
      </div>

      <div class="p-1"></div>

      {% if tutorial == 1 %}
      <div class="card bg-white text-dark border rounded">
          <div class="card-header border-0 bg-primary"></div>

          <div class="card-body mx-2">
            <h6 id="tutorial">This is a tutorial for you to learn how to evaluate the emotion transitions in the pieces.</h6>
          </div>
      </div>

      <div class="p-1"></div>
      {% endif %}

      <div class="card bg-white border rounded">
          <div class="card-body mx-2">
            <small>

              <h6 id="piece-intro">#piece_title has a transition from one emotion to another.
              Listen to this piece and select the emotion transition you perceive:</h6>

              <ol class="mx-2 p-2">
                  {% if tutorial == 1 %}
                  <li class="lesson-1 highlighted-text">Press the "Play" button to listen to the piece (listen until the end). </li>
                  {% else %}
                  <li>Press the "Play" button to listen to the piece (listen until the end). </li>
                  {% endif %}

                  {% if tutorial == 1 %}
                  <li class="lesson-2 hidden-text">With the audio paused:</li>
                  {% else %}
                  <li>With the audio paused:</li>
                  {% endif %}

                  <ul class="mx-3 px-1">
                    {% if tutorial == 1 %}
                    <li class="lesson-2 hidden-text">Drag and drop the slider to the location where you perceived the emotion transition.</li>
                    {% else %}
                    <li>Drag and drop the slider to the location where you perceived the emotion transition.</li>
                    {% endif %}

                    {% if tutorial == 1 %}
                    <li class="lesson-3 hidden-text">Select the emotions you perceived in each part. If you don't perceived an emotion transition, select the same emotion in both parts.</li>
                    {% else %}
                    <li>Select the emotions you perceived in each part. If you don't perceived an emotion transition, select the same emotion in both parts.</li>
                    {% endif %}
                  </ul>

                  {% if tutorial == 1 %}
                  <li class="lesson-final hidden-text">Repeat steps 1. and 2. until the emotion transition is in the desired location.</li>
                  {% else %}
                  <li>Repeat steps 1. and 2. until the emotion transition is in the desired location.</li>
                  {% endif %}

                  {% if tutorial == 1 %}
                  <span class="lesson-final hidden-text"><strong>This particular piece has a transition from <span class='badge op-calm'>Calm</span> to <span class='badge op-agitated'>Agitated</span> at <mark>0:05</mark>.</span></strong>
                  {% endif %}
              </ol>
            </small>
          </div>
      </div>

      <div class="p-1"></div>

        <form id="evaluate-form" class="needs-validation" action="" method="GET">

          <div class="card bg-white borderrounded">
              <div class="card-body mx-2">
                <small>

                <h6 id="piece-title" data-toggle="popover" data-trigger="manual"  data-content="Make sure your emotion evaluation has a transition from Calm to Agitated at 0:05." data-placement="top">#piece_title <sup class="required">*</sup></h6>

                <div class="container">

                    <div class="row align-items-top d-flex justify-content-center">
                        <!-- Controls -->
                        <div class="col-1 d-flex justify-content-center">
                            {% if tutorial == 1 %}
                                <button id="playButton" type="button" class="lesson-1 highlighted-text btn btn-light btn-sm" data-toggle="popover" data-trigger="manual"  data-content='1. Press the "Play" button to listen to the piece (listen until the end).' data-placement="top" onclick="onPlayButtonPlayed(); lesson1End();">
                            {% else %}
                                <button id="playButton" type="button" class="btn btn-light btn-sm" data-toggle="popover" data-trigger="manual"  data-content="Make sure to listen to the piece entirely at least once." data-placement="bottom" onclick="onPlayButtonPlayed()">
                            {% endif %}

                                <img id="playButtonImg" src="{{ url_for('static', filename='imgs/play-64x64.png') }}" class="img-fluid">
                                <span id="loadingSpinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            </button>
                        </div>

                          <!-- Progres bar -->
                          <div class="col d-flex justify-content-center">
                              <div class="container">
                                  <div class="row align-items-center d-flex justify-content-center">

                                      <!-- Timer -->
                                      <div class="col-1 d-flex justify-content-center">
                                          <div id="timer">0:00</div>
                                      </div>

                                      <div class="col d-flex justify-content-center">
                                          <div id="emotion-slider">
                                            <div id="emotion-slider-thumb"></div>

                                            {% if tutorial == 1 %}
                                            <div id="emotion-trans-timer" class="lesson-2 hidden-text">0:00</div>
                                            <div id="emotion-trans-slider-thumb" class="lesson-2 hidden-text" data-toggle="popover" data-trigger="manual"  data-content='2.1 Drag and drop the slider to the location where you perceived the emotion transition.' data-placement="top"></div>
                                            {% else %}
                                            <div id="emotion-trans-timer">0:00</div>
                                            <div id="emotion-trans-slider-thumb"></div>
                                            {% endif %}

                                            <div id="emotion-track-left" class="emotion-track"></div>
                                            <div id="emotion-track-right" class="emotion-track"></div>
                                          </div>
                                      </div>

                                      <!-- Duration -->
                                      <div class="col-1 d-flex justify-content-center">
                                          <div id="duration">0:00</div>
                                      </div>
                                  </div>

                                  <div class="row d-flex justify-content-center">
                                      <!-- Progres bar -->
                                      <div class="col d-flex justify-content-center">
                                          {% if tutorial == 1 %}
                                          <select name="emotion1_{{piece_number}}" id="emotion1" class="lesson-3 hidden-text selectpicker form-control" data-dropup-auto="false" data-width="120px" data-style="btn-transparent" data-toggle="popover" data-trigger="manual"  data-content="2.2 Select the emotions you perceived in each part. If you don't perceived an emotion transition, select the same emotion in both parts." data-placement="bottom" required>
                                          {% else %}
                                          <select name="emotion1_{{piece_number}}" id="emotion1" class="selectpicker form-control" data-dropup-auto="false" data-width="120px" data-style="btn-transparent" required>
                                          {% endif %}
                                              <option value="" selected="selected" disabled="disabled">Emotion 1</option>
                                              <option data-content="<span class='badge op-calm'>Calm</span>" class="op" value="1">Calm</option>
                                              <option data-content="<span class='badge op-agitated'>Agitated</span>" class="op" value="2">Agitated</option>
                                              <option data-content="<span class='badge op-happy'>Happy</span>" class="op" value="3">Happy</option>
                                              <option data-content="<span class='badge op-suspense'>Suspense</span>" class="op" value="4">Suspense</option>
                                          </select>
                                      </div>
                                      <div class="col d-flex justify-content-center">
                                          {% if tutorial == 1 %}
                                          <select name="emotion2_{{piece_number}}" id="emotion2" class="lesson-3 hidden-text selectpicker form-control" data-dropup-auto="false" data-width="120px" data-style="btn-transparent" data-toggle="popover" data-trigger="manual"  data-content="2.2 Select the emotions you perceived in each part. If you don't perceived an emotion transition, select the same emotion in both parts." data-placement="bottom" required>
                                          {% else %}
                                          <select name="emotion2_{{piece_number}}" id="emotion2" class="selectpicker form-control" data-dropup-auto="false" data-width="120px" data-style="btn-transparent" required>
                                          {% endif %}
                                              <option  value="" selected="selected" disabled="disabled">Emotion 2</option>
                                              <option data-content="<span class='badge op-calm'>Calm</span>" class="op" value="1">Calm</option>
                                              <option data-content="<span class='badge op-agitated'>Agitated</span>" class="op" value="2">Agitated</option>
                                              <option data-content="<span class='badge op-happy'>Happy</span>" class="op" value="3">Happy</option>
                                              <option data-content="<span class='badge op-suspense'>Suspense</span>" class="op" value="4">Suspense</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                          </div>
                    </div>


                </div>
                </small>
              </div>
          </div>

          {% if tutorial == 0 %}
          <div class="p-1"></div>

          <div class="card bg-white border rounded">
              <div class="card-body mx-2">
                <small>
                  <label for="quality_{{piece_number}}"><h6>How good does this piece sound? <sup class="required">*</sup></h6>
                      Evaluate the quality of the composition and not the quality of the audio.
                  </label>

                  <div class="container">
                      <div class="row align-items-center">
                          <!-- Controls -->
                          <div class="col d-flex justify-content-center">
                              <div class="btn-toolbar" role="toolbar" >
                                <div class="btn-group" role="group" >
                                  <a class="btn btn-link disabled" disabled>Very bad</a>
                                  <div class="form-check form-check-inline">
                                    <input class="evaluate-quality form-check-input" type="radio" name="quality_{{piece_number}}" value="1" required>
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="evaluate-quality form-check-input" type="radio" name="quality_{{piece_number}}" value="2" required>
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="evaluate-quality form-check-input" type="radio" name="quality_{{piece_number}}" value="3" required>
                                    <label class="form-check-label" for="6">3</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="evaluate-quality form-check-input" type="radio" name="quality_{{piece_number}}" value="4" required>
                                    <label class="form-check-label" for="inlineRadio3">4</label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input class="evaluate-quality form-check-input" type="radio" name="quality_{{piece_number}}" value="5" required>
                                    <label class="form-check-label" for="inlineRadio3">5</label>
                                  </div>
                                  <a class="btn btn-link disabled" disabled>Very good</a>
                                </div>
                              </div>
                        </div>
                    </div>
                  </div>
                </small>
              </div>
          </div>
          {% endif %}

          <div class="row align-items-center mt-2 mb-2">
            <div class="col-4">
                <button id="prevButton" type="button" class="btn-page btn border rounded bg-white" onclick="onBack()">Back</button>

                {% if tutorial == 1 %}
                <button id="nextButton" type="button" class="btn-page btn border bg-white rounded" onclick="onNext()">Next</button>
                {% else %}
                <button id="nextButton" type="submit" class="btn-page btn border bg-white rounded">Next</button>
                {% endif %}
            </div>

            <div class="col">
                <div class="row align-items-center justify-content-end">
                    <div class="col">
                        <div id="ppage-back" class="progress bg-secondary" style="height: 10px;">
                          <div id="ppage" class="progress-bar" role="progressbar" style="width: {{ (3/(total_pieces + 2))*100 }}%" aria-valuenow="3"  aria-valuemin="1" aria-valuemax="{{ total_pieces + 2 }}"></div>
                        </div>
                   </div>

                   <div class="col-6">
                        <label id="npage">Page #page_number of {{ total_pieces + 2 }}</label>
                    </div>
                </div>
            </div>
          </div>
      </form>

      <div class="p-4"></div>
  </body>

  <!-- Load player js -->
  <script src="{{ url_for('static', filename='js/evaluate.js') }}"></script>

  {% if tutorial == 1 %}
    <script src="{{ url_for('static', filename='js/tutorial.js') }}"></script>
  {% endif %}

  <script>
      let pKey = "p_" + {{piece_number}};
      let emotion1Key  = "emotion1_" + {{piece_number}};
      let emotion2Key  = "emotion2_" + {{piece_number}};
      let qualityKey   = "quality_" + {{piece_number}};
      let playCountKey = "playCount_" + {{piece_number}};
      let playCompleteCountKey = "playCompleteCount_" + {{piece_number}};

      function getHowlerAudio() {
          return "{{ url_for('static', filename=piece_name) }}";
      }

      function setPlayImg() {
          playButtonImg.src = "{{ url_for('static', filename='imgs/pause-64x64.png') }}";
      }

      function setPauseImg() {
          playButtonImg.src = "{{ url_for('static', filename='imgs/play-64x64.png') }}";
      }

      function loadEmotionSelect(emotionKey) {
          let emotionValue = localStorage.getItem(emotionKey);
          if(emotionValue != null) {
              // Populate field with data
              $('[name="' + emotionKey + '"]').val(emotionValue);
              $('[name="' + emotionKey + '"]').change();
          }
      }

      function loadEmotionSlider() {
          let pValue = localStorage.getItem(pKey);
          if(pValue != null) {
              updateTrans(parseFloat(pValue));

              {% if tutorial == 1 %}
                completeTutorial();
              {% endif %}
          }
      }

      function loadQualityLikert() {
          let qualityValue = localStorage.getItem(qualityKey);
          if(qualityValue != null) {
              $('[name="' + qualityKey + '"]').val([parseInt(qualityValue)]);
          }
      }

      function loadPlayCount() {
          let playCountValue = localStorage.getItem(playCountKey);
          if(playCountValue != null) {
              playCount = parseInt(playCountValue);
          }

          let playCompleteCountValue = localStorage.getItem(playCompleteCountKey);
          if(playCompleteCountValue != null) {
              playCompleteCount = parseInt(playCompleteCountValue);
          }
      }

      function loadPieceTitle() {
          let pieceIntro = document.getElementById("piece-intro");
          let pieceTitle = document.getElementById("piece-title");

          {% if tutorial == 1 %}
            pieceIntro.innerHTML = pieceIntro.innerHTML.replace("#piece_title", "This piece");
            pieceTitle.innerHTML = pieceTitle.innerHTML.replace("#piece_title", "Piece Tutorial");
          {% else %}
            let piece_ix = parseInt(localStorage.getItem("next_piece"));

            pieceIntro.innerHTML = pieceIntro.innerHTML.replace("#piece_title", "Piece " + piece_ix);
            pieceTitle.innerHTML = pieceTitle.innerHTML.replace("#piece_title", "Piece " + piece_ix);
          {% endif %}
      }

      function loadFormAction() {
          let totalPieces = {{ total_pieces }};

          // Set the form action
          {% if tutorial == 1 %}
            let piece_ix = 0;

            // Start next_piece variable in local storage
            localStorage.setItem("next_piece", 0);
          {% else %}
            let piece_ix = parseInt(localStorage.getItem("next_piece"));
          {% endif %}

          let piece_number = localStorage.getItem("piece" + (piece_ix + 1));

          if(piece_ix < totalPieces - 1) {
              document.getElementById("evaluate-form").action = "http://localhost:5000/evaluate/" + piece_number;
          }
          else {
              document.getElementById("evaluate-form").action = "http://localhost:5000/profile";
          }
      }

      function loadPagingProgress() {
          let totalPieces = {{ total_pieces }};

          let piece_ix = parseInt(localStorage.getItem("next_piece"));
          let pageNumber = piece_ix + 2;

          // Set progress bar
          document.getElementById("ppage").style.width = ((pageNumber/(totalPieces + 2))*100) + "%";

          let nPage = document.getElementById("npage");
          nPage.innerHTML = nPage.innerHTML.replace("#page_number", pageNumber);
      }

      function loadStoredEvaluation() {
          loadEmotionSelect(emotion1Key);
          loadEmotionSelect(emotion2Key);
          loadEmotionSlider();
          loadQualityLikert();
      }

      function onBack() {
          // Set piece index
          let piece_ix = parseInt(localStorage.getItem("next_piece"));
          localStorage.setItem("next_piece", piece_ix - 1);

          history.back();
      }

      $(document).on('submit', '#evaluate-form', function(ev) {
          // Pause piece
          pause();

          // Set piece index
          let piece_ix = parseInt(localStorage.getItem("next_piece"));
          localStorage.setItem("next_piece", piece_ix + 1);

          localStorage.setItem(emotion1Key, $("#emotion1").val());
          localStorage.setItem(emotion2Key, $("#emotion2").val());
          localStorage.setItem(qualityKey, $('[name="' + qualityKey + '"]:checked').val());
          localStorage.setItem(pKey, transPos);
          localStorage.setItem(playCountKey, playCount);
          localStorage.setItem(playCompleteCountKey, playCompleteCount);
      });

      function onEvaluateLoad() {
          onResize();
          loadPlayCount();
          loadFormAction();
          loadPieceTitle();
          loadPagingProgress();

          // Disable play button until sound has been loaded
          $("#playButton").prop("disabled", true);

          // Howl object
          sound = new Howl({
            src: [getHowlerAudio()],
            html5: true,
            onload: function() {
                onResize();

                updateProgressBar(0.0);
                updateTimer(durationTimer, 1.0);

                $("#loadingSpinner").css("visibility", "hidden");
                $("#playButtonImg").css("display", "inline");
                $("#playButton" ).prop("disabled", false);

                loadStoredEvaluation();
            },
            onplay: function() {
                playCount += 1;
                requestAnimationFrame(step);
            },
            onend: function() {
                if(playCompleteCount == 0) {
                  updateTrans(0.5);
                }

                playCompleteCount += 1;

                updateProgressBar(0.0);
                pause();

                {% if tutorial == 1 %}
                lesson2Start();
                {% endif %}
            }
          });
      }
  </script>
</html>
